<!DOCTYPE html>{% load static %}
<html lang="ar" dir="rtl">

<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -V 5.1.3x -->
    <!-- bootstrap -V 5.1.3x -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}css/lib/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}css/lib/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}css/Quezes.css">

</head>

<body>


    <!-- Scroll Right -->
    <div id="progressbar"></div>
    <div id="scrollPath"></div>


    <nav class="navbar navbar-expand-lg position-sticky top-0 w-100 en" style="z-index: 99;">
        <div class="container">
            <a href="#" class="logo"> <img src="{% static 'main/' %}Images/geology.png" alt=""></a>
            <h1 class="text-light">Alfayed</h1>
            <div class="navbar-nav ms-auto">

                <a class="blue btn btn-primary" href="{% url 'profile' %}">
                    الصفحة الشخصية <i class="bi bi-person-check-fill"></i></a>
                <a class=" red btn btn-outline-danger" href="{% url 'logout_user' %}"> تسجيل الخروج <i
                        class="bi bi-box-arrow-in-right"></i> </a>
                <a class=" btn-toggle  btn btn-info mode"> 🌞 🌙 </a>
            </div>

        </div>
    </nav>


    <section class="Quiz_main mt-5 ">
        <div class="container">

            <div class="row">

                <div class="classText">
                    <h2 class="text-center mb-5">
                        {{exam.title}}
                    </h2>
                </div>
                <div class="col-md-12">
                    <div class="card text-center position-relative cardPin">
                        <div class="card-body ">
                            <p class="card-text Notes">
                                {{exam.description}}
                            </p>
                        </div>
                    </div>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">تنبيهات شاملة</h5>

                            </div>
                            <div class="modal-body">
                                <ul>
                                    <li>تضاف فقط درجة المرة الأولي من الامتحان</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">موافق</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="Questions mt-5 ">
        <div class="container">
            <div class="row">
                <form action="{% url 'result' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="quiz_id" value="{{quiz.id}}">
                    {% for questions in exam.get_questions %}
                    <div class="col-md-12">
                        <span class="question-num">{{ forloop.counter }}</span>
                        <div class="card mb-4 shadow">
                            <div class="card-body">

                                <h5 class="card-title">{{questions.text|safe}}</h5>
                                <hr>
                                {% for answers in questions.get_answers %}
                                <p class="card-text">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="questions_{{questions.id}}"
                                            id="flexRadioDefault1" value="{{answers.id}}">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            {{answers.text|safe}}
                                        </label>
                                    </div>
                                </p>
                                {% endfor %}

                                {% if request.user.is_staff %}
                                <a href="/admin/exam/question/{{questions.id}}/change/"
                                    class="btn btn-warning">تعديل</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>



        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3 d-flex justify-content-around flex-column">
                    <button type="submit" class="btn btn-success btn-lg rounded-pill mb-5 shadow">انهاء
                        الاختبار</button>

                </div>
            </div>
        </div>

        <input type="hidden" name="quiz_id" value="{{exam.id}}" id="">
        </form>





    </section>
    <script type="text/javascript" src="{% static 'main/' %}js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'main/' %}js/lib/bootstrap.bundle.min.js"></script>



    <script>
        $(window).on('load', function () {
            $('#exampleModal').modal('show');
        });
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>
    <script type="text/javascript" src="{% static 'main/' %}js/main.js"></script>
</body>

</html>