<footer class="text-start"> {% load static %}
    <div class="container tex-start">
        <div class="row">
            <div class="col-sm">
                <p> © 2022 Made By => <a rel="nofollow" href="#">Easy Tech</a> , All Rights Reserved
            </div>

            <div class="col-sm">
                <img class="logo" style="width: 100px;border-radius: 50%;height: 100px; top: -25px; position: relative;"
                    src="{% static 'main/Images/photo_2022-05-08_08-32-38.jpg' %}" alt="">
            </div>
        </div>
    </div>
    </div>
</footer>